<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="__USER__/css/amazeui.min.css">
    <link rel="stylesheet" href="__USER__/css/wap.css?2">
    <script src="__USER__/js/jquery.min.js"></script>
    <script src="__USER__/js/amazeui.min.js"></script>
    {block name="ext_css"}{/block}
    <title>
        {block name="title"}{/block}
    </title>
</head>
<body>
{block name="main"}
{/block}
<div class="pet_article_dowload pet_dowload_more_top_off">
    <div class="pet_article_dowload_title">开发者信息</div>
    <div class="pet_article_dowload_content pet_dowload_more_top_bg"><div class="pet_article_dowload_triangle pet_dowload_more_top_san"></div>
        <div class="pet_article_dowload_ico">
            <img src="http://thirdwx.qlogo.cn/mmopen/vi_32/dUYrQdEH56zMf3M6G6RydUCFcUloiawDTfINXVyXw9hia1CwJqMkMxN4qxHrcQVNXAAwp9Wow0PiaaiajyzG8eS8cw/132" alt="">
        </div>
        <div class="pet_article_dowload_content_font">
            我叫刘嘉威,是一名php开发人员,非常热爱php这门语言!业余时间也会做一些小项目托管到github上
            <br/>
            我的github账号是:<b>Gav223</b>
            <br/>
            我的个人博客网站地址：<a href="http://blog.leephp.cn">blog.leephp.cn</a>
            <br/>
            欢迎大家来撩,一起交流php!!!一起变身!!!
        </div>
    </div>
</div>
{block name="ext_js"}{/block}
</body>
</html>